@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.fc-darkgrey {
    color: #2B353E;
}

.fc-rgba1 {
    color: rgba(43, 53, 62, 0.70);
}

.ff-poppins {
    font-family: 'Poppins', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}

.fs-17 {
    font-size: 17px;
}

.fs-21 {
    font-size: 21px;
}

.fs-45 {
    font-size: 45px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.bg-sky {
    background-color: #E9F1FF;
}

.line {
    width: 167px;
    height: 1px;
    background: rgba(43, 53, 62, 0.15);
    margin-top: 30px;
}

.mw-600 {
    max-width: 600px;
}

.stars-1 {
    cursor: pointer;
    transition: all 100ms linear;
}

.stars-1:hover svg path {
    fill: #ff5300;
}

.pt-100 {
    padding-top: 100px;
}

.perfect {
    padding-top: 120px;
}

.pt-42 {
    padding-top: 42px;
}

.section-3-para1 {
    padding-top: 30px;
}

.btn-try,
.btn-demo {
    color: #1E71FF;
    border-radius: 60px;
    padding: 14px 45px;
    border: 1px solid #1E71FF;
    background-color: #E8F1FF;
    transition: all 300ms linear;
}

.btn-try:hover,
.btn-demo:hover {
    color: #FFF;
    background-color: #1E71FF;
}

.business {
    color: rgba(43, 53, 62, 0.70);
    max-width: 264px;
   
}

.stars {
    color: rgba(43, 53, 62, 0.70);
}


@media (min-width:992px) {
    .ml-lg--57 {
        margin-left: -57px;
    }

    .mw-lg-600 {
        max-width: 600px;
    }

}

@media (min-width:1200px) {
    .ml-xl--100 {
        margin-left: -100px;
    }
}

@media (min-width:1300px) {
    .ml-xxl--150 {
        margin-left: -150px;
    }
}

@media (max-width:992px) {
    .perfect {
        padding-top: 50px;
        font-size: 36px;
    }
}

@media (max-width:768px) {

    .section-3-para1 {
        font-size: var(--fs-18);
    }

    .line {
        display: none;
    }

    .btn-free {
        margin: 0;
    }

    .mt-42 {
        padding-top: 20px;
    }
    .perfect {
       
        font-size: 30px;
    }


}

@media (max-width:576px) {
    .flex-column-sm {
        flex-direction: column;
    }


    .btn-demo,
    .btn-try {
        padding: 10px 20px;
    }
}